
.container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
.main-content{
    background-color: black;
    grid-area: 1 / 1 / span 9 / span 9;
}

.layout{
    display: flex;
    align-content: center;
    padding: 5px;
}
.highlight-photo{
    display: flex;
    grid-column: 1 / 9;

}
.main-img{
    width: 100%;
    height: auto;
    display: flex;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    position: sticky;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 9;
    grid-row: 1 / span 1;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    position: static;
    z-index: 3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}
.project-name{
    color: red;
    font-size: 25px;
    margin-left: 40px;
}
.title{
    font-size: 30px;
    align-items: center;
    margin-left: 40px;
}
.text{
    display: flex;
    grid-column: 2 / span 3;
    grid-row: 10 / span 4;

}
.description-heading{
    display: flex;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 15px;
    align-self:flex-start;
    margin-bottom: 10px;
    
}
.description{
    display: flex;
    align-self:flex-end;
    text-align: center;
    margin-right: 80px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dropdown{
    display: flex;
    grid-column: 4 / span 3;
    grid-row: 13 / span 1;
    font-size: 45px;
    align-items:flex-start;
    margin-left: 240px;
}
h2{
    font-size: 25px;
    color: red;
}
p{
    font-size: 18px;
}
h3{
    font-size: 15px;
}
.gallery{
    display: flex;

}
.img1{
    width: 33%;
    height: auto;
    margin: 50px;
    margin-left: 120px;
}
.img2{
    width: 33%;
    height: auto;
    margin: 50px;
}
.year{
    margin: 10px;
    margin-right: 15px;
}
.critics{
    margin: 10px;
}
.collaborators{
    margin: 10px;
    margin-right: 15px;
}